body {
	background-image: url("../images/fetique.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
	margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seo-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}